<?xml version="1.0" encoding="UTF-8"?>
<wss_configuration xmlns="http://www.jedox.com/jedox/wss"
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <logging>
      <logger name="console" level="debug">
         <modifiers>
            <modifier priority="500" name="timestamp"/>
            <modifier priority="400" name="loglevel"/>
         </modifiers>
      </logger>
    <logger name="file" level="info" target="../log/core.log">
      <modifiers>
        <modifier priority="500" name="timestamp"/>
        <modifier priority="400" name="loglevel"/>
      </modifiers>
    </logger>
   </logging>
  <garbage_collector>
      <interval seconds="180"/>
  </garbage_collector>
  <session>
      <timeout seconds="3600"/>
      <max_lazy_function_count number="20"/>
  </session>
  <autosave>
      <interval seconds="900"/>
  </autosave>
  <extensions >
    <extension name="ui_backend" config="ui_backend_config.xml" critical="true"/>
    <extension name="cell_format" config="locale/cell_format_data.xml" critical="true"/>
    <extension name="persistence" config="persistence_settings.xml"/>
    <extension name="function" config=""/>
    <extension name="palo" config="palo_config.xml" critical="true"/>
    <extension name="macro_engine" config="macro_engine_config.xml"/>
    <extension name="odbc" config=""/>
    <extension name="text_metrics" config="font_config.xml"/>
    <extension name="auto_fill" config="locale/"/>
  </extensions>
</wss_configuration>